[2013-05-13 21:39] ouchadam opened #1 "add java doc to MerlinBuilder"

[2013-05-15 09:36] ouchadam opened #2 "null point exception in the ConnectivityReceiver"
[peekService(context, new Intent(context, MerlinService.class))](https://github.com/novoda/merlin/blob/master/core/src/com/novoda/merlin/receiver/ConnectivityReceiver.java#L28) can return null if the service is not running

05-15 10:52:09.047: ERROR/AndroidRuntime(1635): FATAL EXCEPTION: main
        java.lang.RuntimeException: Unable to start receiver com.novoda.merlin.receiver.ConnectivityReceiv

[2013-05-15 10:03] #2 closed, assigned to nobody

[2013-05-24 09:11] ouchadam opened #4 "Runtime restart when uninstalling"
05-23 12:10:46.669: ERROR/AndroidRuntime(12764): **\* FATAL EXCEPTION IN SYSTEM PROCESS: android.server.ServerThread
        java.lang.RuntimeException: Error receiving broadcast Intent { act=android.intent.action.PACKAGE_CHANGED dat=package:com.example.foo flg=0x8000010 (has extras) } in com.android.server.NotificationManagerService$2@429774b0
        at android.app.LoadedApk$ReceiverDispatcher$A

[2013-05-24 09:26] #4 closed, assigned to nobody

[2013-06-04 18:52] agarwlGaurav opened #5 "Link MerlinActivity takes to 404"
Link MerlinActivity on code pages takes to 404. not found.

[2013-06-04 19:05] #5 closed, assigned to nobody

[2013-06-04 20:11] agarwlGaurav opened #6 "Add Licence terms to the library"
It will be important for the developers to know licence terms before using it in production.

[2013-06-04 20:42] ouchadam opened #7 "duplicate issue oops"

[2013-06-04 20:42] ouchadam opened #8 "Move to gradle"
With the build tools moving to gradle, everything should be .aar'd! also makes the set up easy since the manifest merging works so nicely

[2013-06-04 20:46] #7 closed, assigned to nobody

[2013-06-10 22:09] #6 closed, assigned to ouchadam

[2013-06-10 22:09] #1 closed, assigned to nobody

[2013-06-23 12:29] #8 closed, assigned to nobody

[2013-08-03 12:15] ouchadam opened #12 "Release to JCenter"
at the moment it is only released to Novoda public maven https://github.com/novoda/public-mvn-repo/tree/master/releases/com/novoda/notils

[2013-11-29 21:33] ataulm opened #13 "Introduce separate notifications for WiFi/Mobile data"
sorry if "notifications" isn't the right term - the only thing I know of merlin is that it's for checking for a real internet connection.

My use case is that I'd like to download data/sync only when connected to WiFi, even if my app isn't running.

Currently I believe merlin can be used to check for net connection, but not type.

[2014-04-20 10:44] akshaydashrath opened #14 "Crash when turning off network when doing a service call"
04-20 16:11:52.038: E/AndroidRuntime(16724): java.lang.RuntimeException: An error occured while executing doInBackground()
04-20 16:11:52.038: E/AndroidRuntime(16724):    at android.os.AsyncTask$3.done(AsyncTask.java:300)
04-20 16:11:52.038: E/AndroidRuntime(16724):    at java.util.concurrent.FutureTask.finishCompletion(FutureTask.java:355)
04-20 16:11:52.038: E/AndroidRuntime(16724):    at java.u

[2014-05-05 14:46] #14 closed, assigned to nobody

[2014-05-30 08:17] StylingAndroid opened #17 "Doesn't handle WiFi which requires login"
When connecting to public WiFi services such as The Cloud, many require login and will redirect any web requests to their own login page.

The current implementation will indicate that network connectivity is available when the hotspot redirects to its login page, but in many cases internet access will be blocked until login has been successfully completed.

HostPinger should, at the very least, v

[2014-05-30 08:20] StylingAndroid opened #18 "HTTP HEAD in HostPinger would be much more efficient than the current implementation using GET"
When pinging a remote host to determine whether we can access a publicly accessible host, we're not interested in the Response body, so it would be much more efficient to use a HEAD request instead of a GET.

[2014-06-04 07:51] blundell opened #19 "Remove Log class"
Remove the Merlin Log class & add a dependency on NoTils

https://github.com/novoda/merlin/blob/master/core/src/main/java/com/novoda/merlin/Log.java

[2014-06-04 13:39] ouchadam opened #20 "Remove the http-request depedency"
It would be nice if we could pull out what we need rather than include the full library.

The only usage of the library is for `HttpRequest.get(hostname).getConnection().getResponseCode()`, [used in the hostpinger](https://github.com/novoda/merlin/blob/master/core/src/main/java/com/novoda/merlin/service/HostPinger.java#L34).

[2014-07-11 16:47] ouchadam opened #23 "Move the custom hostname to Merlin.Builder"
Rather than using a setter.

[2014-07-14 17:03] ataulm opened #26 "Setup is rather verbose"
The setup of the library (which works great btw, kudos) is a bit long, with the need to specify `withBindableCallbacks` `withConnectableCallbacks` and _what not_.

For my use case, I have to implement all of these, but in the end, I'm not interested in the callbacks themselves, I just want to know - at some given point - whether I have a connection... perhaps with `merlin.isConnectedToNetwork()` o

[2014-07-14 17:09] ataulm opened #27 "False negative on hasConnection when receiving HTTP error response 404 (501, etc.)"
Shouldn't a 404, 503 blah blah (at the intended address) indicate that you are connected to the internet?

Providing a fallback to `android.com` would be good, in the unlikely but possible case it's down?

[2014-08-01 08:20] #17 closed, assigned to nobody

[2014-08-21 13:33] ghost opened #28 "Fragments"
How to use on fragments when you can't extend from MarlinActivity

[2014-08-21 14:12] #28 closed, assigned to nobody

[2014-09-05 10:41] ouchadam opened #29 "Provide the current network state"
Provide a simple way get the network state `Merlin.isConnected()`
This state should be the one provided from the callbacks (post pinged)

[2014-09-10 10:07] #19 closed, assigned to Mecharyry

[2014-11-05 18:27] #18 closed, assigned to nobody

[2014-11-05 18:41] ouchadam opened #48 "HttpRequests should disconnect after their usage"

[2014-11-05 18:47] #12 closed, assigned to nobody

[2014-11-05 18:54] #20 closed, assigned to nobody

[2015-02-19 23:43] ahornerr opened #51 "Not calling onConnect on Lollipop"
I only receive one onConnect event from Merlin with a Nexus 5 running Lollipop 5.0.1. All subsequent onConnect events never seem to be fired. Code working fine on a Nexus 5 running KitKat 4.4.4. Thanks!

I did some more testing and I can confirm this issue still exists. The first onConnect gets fired and every event from then on does not get fired. I am not getting any onBind, onConnect, or onDisc

[2015-04-07 14:32] ouchadam opened #52 "replace robolectric with android unit tests"

[2015-04-07 14:40] blundell commented on #52
this guy, will do!

![](http://media.tumblr.com/tumblr_m6n6fxfqQb1royzou.gif)

[2015-04-07 15:19] blundell commented on #51
Fixed by https://github.com/novoda/merlin/pull/54

[2015-04-07 15:21] #51 closed

[2015-04-07 15:25] Electryc commented on #51
Released version `0.6.2` with the fix https://bintray.com/novoda/maven/merlin/0.6.2/view

[2015-04-07 15:26] ahornerr commented on #51
Thanks guys!

[2015-04-07 15:27] ouchadam commented on #51
thanks for raising this, somehow we completely missed it.

our bad!

[2015-04-09 08:38] ouchadam opened #55 "Investigate if we can use the system for callbacks"
the system shows "!" on the wifi when an active internet connection doesn't have network access, we should see if we can make use of this

[2015-06-25 10:38] xrigau opened #56 "Use Android's dedicated ping server"
Android uses `connectivitycheck.android.com` to check if the device is connected to the Internet so I guess it'd be nice if Merlin used that as well.

From: https://android.googlesource.com/platform/frameworks/base/+/351bfad/services/core/java/com/android/server/connectivity/NetworkMonitor.java#71

Maybe related to #23

[2015-06-25 10:38] ouchadam commented on #56
nice find!

[2015-06-25 10:39] ouchadam commented on #56
quick fix for now would be to use that as the custom host in the merlin builder

[2015-06-25 10:41] blundell commented on #56
:+1: empty body means lighter payload, piggybacking google ftw

[2015-06-25 13:29] ryanbateman commented on #56
TIL

[2015-06-27 20:12] friedger commented on #13
I read this as: restrict the onConnected callback to a specific connection type.
Could be an additional method of the Builder `forWifiOnly()` or so.

"even if my app isn't running." is not solved by merlin and requires static broadcast receivers in your app.

[2015-06-27 20:16] friedger opened #57 "Get notified when the mobile data connection is lost"
Currently, merlin only triggers when the connection type changes (cell/wifi).

The following could be used to detect changes of the data connection for mobile connection type.

[code]

[2015-07-04 16:42] ataulm commented on #13
:+1: Friedger for extra config on the builder.

It seems like a lot of the requirements for this are now subsumed by functionality afforded by JobScheduler.

[2015-07-04 16:42] #13 closed

[2015-07-05 13:13] friedger commented on #13
just for reference :

https://developers.google.com/android/reference/com/google/android/gms/gcm/OneoffTask.Builder#setRequiredNetwork(int)

and

https://developer.android.com/reference/android/app/job/JobInfo.Builder.html#setRequiredNetworkType(int)

[2015-09-09 08:31] fourlastor opened #64 "Integration with RxJava"
Hello! Last day I was hacking with Merlin and I came up with a small wrapper around it to make it a stream.

[code]

I thought it would make a good companion library, separate from the core, for whoever wants to use it in the same way. What do you guys think?

[2015-09-11 11:17] blundell commented on #64
:+1:

[2015-09-28 10:38] ataulm opened #65 "Update MerlinsBeard to get more specific information about connection type"
For example (but with more enums)

[code]

[2015-09-28 13:16] #23 closed

[2015-09-28 13:18] ataulm commented on #26
This is achieved by MerlinsBeard.

[code]

[2015-09-28 13:18] #26 closed

[2015-09-28 13:21] ataulm opened #67 "Add support for new permissions model in Android M"
- Are the permissions required by Merlin automatically granted or are they requested at time of usage?
- In the case of the latter, does Merlin fail gracefully?

[2015-10-05 08:09] ataulm commented on #65
Fixed with #66

[2015-10-05 08:09] #65 closed

[2015-10-05 08:16] ataulm opened #68 "Add javadoc for getMobileSubtype"
https://github.com/novoda/merlin/pull/66/files#r41118896

[2015-12-15 10:47] droidizer opened #73 "Package repository not updated."
Hello fellow-developers,

Looks like the latest commit was in October 2015 and the latest gradle package repository was created in July 2015. Could you please check and update asap?

[2015-12-17 11:33] blundell commented on #73
yeah will do!

[2015-12-17 12:01] xrigau commented on #73
Done
https://github.com/novoda/merlin/releases/tag/v0.7.0
https://bintray.com/novoda/maven/merlin/0.7.0/view

[2015-12-17 12:01] #73 closed

[2016-01-04 08:51] blundell commented on #64
closed via #72

[2016-01-04 08:51] #64 closed

[2016-01-04 08:53] blundell commented on #52
Done! https://github.com/novoda/merlin/commit/3dec248247fef45a92d6b748b22edbc09b68807d via @ataulm

[2016-01-04 08:53] #52 closed

[2016-01-19 13:20] droidizer commented on #73
Cool. Thanks.

[2016-04-13 13:46] joetimmins commented on #67
The permissions required by Merlin are considered "Normal" by Android. This means they are automatically granted. No runtime requesting occurs.

[2016-04-13 13:46] #67 closed

[2016-04-15 10:49] #56 closed

[2016-04-15 10:51] joetimmins commented on #27
This has been improved slightly by https://github.com/novoda/merlin/pull/75 - now, all 2xx response codes mean that Merlin has an internet connection.

[2016-04-15 12:23] #48 closed

[2016-04-15 13:47] fourlastor commented on #27
fixed in #77

worth creating a new issue for the fallback @ataulm ?

[2016-04-15 13:47] #27 closed

[2016-04-15 14:47] joetimmins commented on #29
Do we still need to do anything here given that we have MerlinsBeard?

[2016-04-15 17:22] blundell commented on #29
@ouchadam can you explain what we need to do to get "but not the shared ping network state"?

[2016-04-20 07:40] blundell commented on #67
👍

[2016-04-20 07:41] blundell commented on #68
fixed by #78

[2016-04-20 07:41] #68 closed

[2016-05-12 12:37] maxim-pandra commented on #55
@ouchadam hi, I looked at demo and it seems that merlin can't tell if network access is available (case with bad (!) wifi)

Is there any way to check it or I should ping google if isConnected() method returned true?

thanks

[2016-05-12 18:51] tasomaniac commented on #55
On Lollipop and above, even when you have "!" on the wifi, if your 3g works, your network requests will be successful, right? There should be a way to force the app to use wifi.

[2016-05-20 04:12] alexiskattan opened #79 "What is pinged?"
I'm looking through the code but am a bit of a noobie.  What is the host that is pinged to determine that there is internet connectivity?  Where is the part of the code to look?

[2016-05-20 04:33] Mecharyry commented on #79
Hi @alexiskattan if you look into the `HostPinger` here: https://goo.gl/AAqqgG this is where it is used. You can actually supply your own host to ping but by default `Merlin` uses `http://connectivitycheck.android.com/generate_204` as the endpoint which is found in `Merlin` here: https://goo.gl/cfts1X.

[2016-05-20 07:02] alexiskattan commented on #79
Ahh thanks.

I'm connecting a 4.4 device to WiFi, then unplugging the WiFi from the internet.  When I click "Get Current Status" in the demo, I get "Connected".

Is this right?  Should it say connected if it is connected to the wifi but not to the internet?

[2016-06-08 10:12] joetimmins opened #81 "Connecting to a wifi network with no internet connection returns a Connected status"
Mentioned in https://github.com/novoda/merlin/issues/79

This means Merlin will tell you that you have a proper Internet connection, even if you're connecting to a captive portal and haven't logged in. This is bad!

[2016-06-08 10:15] joetimmins opened #82 "Default endpoint is private URL"
The default endpoint is `http://connectivitycheck.android.com/generate_204`. This is fine for now, but as it isn't a widely-used URL, it may change in future and break connectivity.

We could change this to `google.com` which is much less likely to break.

[2016-06-10 16:39] #79 closed

[2016-06-10 16:39] #81 closed

[2016-07-16 07:30] Ab-Appletic opened #85 "What's the difference between isConnectedToWifi() and isConnected()"
Does `isConnected()` check for WIFI AND internet and `isConnectedToWifi()` only check for WIFI?

[2016-08-10 09:08] blundell commented on #85
yes `isConnectedToWifi` wants WiFi only `isConnected` includes mobile networks 3G etc

[2016-08-10 09:08] #85 closed

[2016-08-10 09:09] blundell commented on #82
@ouchadam didn't this used to be google.com? lol

[2016-08-10 09:10] Ab-Appletic commented on #85
@blundell so if there's wifi but no INTERNET, what will `isConnected` return?

[2016-08-10 09:14] blundell commented on #85
`false`

[2016-08-10 09:15] blundell commented on #85
ah no wait I am wrong.

https://github.com/novoda/merlin/blob/0e8b3b2ba40702187e1fdafcda106232cad063ca/core/src/main/java/com/novoda/merlin/MerlinsBeard.java#L30-L40

`isConnected` is the super set and so includes a wifi check

`isConnectedToWifi` is the sub set and only checks the wifi

`isConnectedToMobileNetwork` is a subset and is what I explained originally

[2016-08-10 09:17] blundell commented on #85
However this is `MerlinsBeard` which don't actually check for internet connectivity. Therefore they return `true` or `false` based on a _connection_ - which is no guarantee that you actually have throughput to the internet (this is what Merlin provides)

[2016-09-14 12:20] niltsiar opened #86 "Merlin doesn't work on API 24"
Merlin doesn't work in apps targeting API 24

From [Android 7.0 Behavior Changes](https://developer.android.com/about/versions/nougat/android-7.0-changes.html)

ConnectivityReceiver needs to be registered explicitly.

[2016-09-17 11:56] coldfish opened #87 "Getting HTTP 405 from BaseURL"
The base url (http://connectivitycheck.android.com/generate_204) is getting HTTP 405 response for the HEAD request. I don't think it's merlin's intention.

I think you should use GET instead of it.

Alternatives for HEAD:
http://clients3.google.com/generate_204
http://connectivitycheck.gstatic.com/generate_204

[2016-09-22 09:02] xrigau commented on #86
thanks for reporting @niltsiar 👍

[2016-09-23 07:21] rock3r commented on #87
I just checked for HEAD on the default endpoint, and it seems it actually does return 204 for HEAD too:

![image](https://cloud.githubusercontent.com/assets/153802/18777160/9c8a5352-8165-11e6-8344-285aa3b53b08.png)

Maybe you hit a temporary glitch? We do not maintain those endpoints, and we provide a default just for convenience. You could consider [providing a different endpoint](https://github.

[2016-09-23 07:31] coldfish commented on #87
You're right. Sorry for my misdirection. It returns 204 No Content in normal conditions. But if you meet any kind of captive portal (in starbucks), you're going to get 405 error for HEAD message. Normally, it should return 200 or 3xx messages.

The links which I have written before doesn't get 405 error messages for these scenarios.

Thanks for your investigation and sharing your time.

[2016-09-23 09:04] tasomaniac commented on #87
Getting a 405 in Starbucks means that you don't have access to internet yet?

[2016-09-23 18:09] coldfish commented on #87
No, it's an error for the request. I cant accept it as a redirect message for captive portal. If you look at the NetworkManager class of Android source code, you'll see the acceptable range between 200 and 399.

[2016-10-04 06:49] androidapkr commented on #55
i faced same situation on this lib while i connect my mobile device using another mobile device hotspot and when internet is down in parent device its nothing shows on connected child mobiles.

[2016-11-16 15:07] #86 closed

[2017-01-25 13:19] niltsiar opened #90 "Updated artifact"
The latest release of the library is from June 2016. Could an updated artifact be released with the latest fixes?

[2017-03-14 08:45] iam1492 opened #91 "rxjava2 support"
#### Problem
`RxJava2` has been released and `Merlin` does not support it 😱

#### Potential Solution
Add `RxJava2` module so that we support it.

#### Impact
Clients can opt-in to use `RxJava2` in `Merlin`.

[2017-04-12 15:21] Mecharyry commented on #90
Hi @niltsiar, sorry for the delay in responding to you and releasing the library. I have just done a release with all of the latest fixes since June 2016.

[2017-04-12 15:23] Mecharyry commented on #82
This has been resolved in #83 Update Ping Validation.

[2017-04-12 15:23] #82 closed

[2017-04-12 15:24] Mecharyry commented on #87
@coldfish I believe this issue was resolved in the latest release of the library when #83 Update Pind Validation was introduced. Could you double check and let us know 😄

[2017-04-12 15:27] #90 closed

[2017-04-12 15:52] ouchadam commented on #29
we need to store and provide a way to access the last known network state from the `Pinged` connection.

This would replace `MerlinBeard.isConnected` as it does not provide a true representation of the network.

[2017-04-18 18:21] Mecharyry opened #95 "Remove implicit receiver"
#### Problem

Currently, we implicitly register a `BroadcastReceiver` for all API levels EXCEPT for Android N and above. This will potentially have a huge impact on battery life for devices using merlin in the background. See conversation in #93 for further details.

#### Solution
Explicitly register a `BroadcastReceiver` for all Android versions.

[2017-04-18 18:25] Mecharyry opened #96 "Use ConnectivityManager.NetworkCallbacks"
#### Problem
We are currently explicitly registering a `BroadcastReceiver` for all Android versions. For Android Lollipop and above we should be using `ConnectivityManager.NetworkCallbacks`. See conversation in #93 for further details.

#### Solution
For Android Lollipop and above use `ConnectivityManager.NetworkCallbacks` but we should build in a compatibility layer to ensure that `MerlinService`

[2017-04-26 08:23] Mecharyry commented on #87
As I understand it this issue was resolved in #83 and so this is now an invalid issue.

[2017-04-26 08:23] #87 closed

[2017-04-27 09:16] Mecharyry opened #101 "Use BDD naming"
#### Problem
We are currently using a JS-like "should" notation for most of our tests in the codebase.

This omits any pre-conditions that need to happen before the test is run to make it successful.

#### Potential Solution
Remove JS-like "should" notation and replace it with the BDD format of:

This will allow us to take into account any preconditions and make the tests much more explicit. When

[2017-04-27 09:21] Mecharyry opened #102 "Update to use latest Mockito"
#### Problem
We are currently using an outdated version of Mockito `org.mockito:mockito-core:1.9.5`, current is `v2.8.9`.

#### Potential Solution
Update `Mockito` to the latest stable release.

#### Impact
Benefit from an added annotation `@Rule` which prevents us from having a `setup` method just for `initMocks(this)`.

[2017-04-27 15:02] Mecharyry commented on #96
This issue has been addressed in release `v0.10.0`

[2017-04-27 15:02] #96 closed

[2017-04-27 15:03] Mecharyry commented on #95
This issue has been resolved in `v0.10.0`

[2017-04-27 15:03] #95 closed

[2017-05-02 09:44] Mecharyry commented on #91
This ticket is being closed in favour of the more descriptive #104 issue.

[2017-05-03 08:42] Mecharyry opened #105 "Create RxJava modules"
#### Problem
Merlin has a hard dependency on RxJava1 which forces clients to include it even if not required.

#### Potential Solution
Modularise `Merlin` to remove the hard dependency.

#### Impact
- Clients can choose which packages they require from the `Merlin` library rather having hard dependencies.
- We can expand to incorporate additional modules for future versions of RxJava.

[2017-05-04 07:21] tasomaniac opened #106 "Streamline dependencies across modules"
#### Problem

We now have multiple modules in the project. They all use similar dependencies by duplicating them. We should also drop the `targetSdkVersion` see [here](https://github.com/google/dagger/pull/591).

#### Potential Solution

Just like some [other Novoda projects](https://github.com/novoda/notils/blob/master/dependencies.gradle) we can have a shared gradle file for these.

#### Impact

[2017-05-04 08:30] Mecharyry opened #107 "Major readme and Wiki updates"
#### Problem
We are planning a major release of the `Merlin` library which includes breaking changes.

#### Potential Solution
Communicate these changes on the `README` and update the Wiki to include a migration guide.

#### Impact
Without a migration guide, we may see an increase in GitHub issues / stackoverflow questions about how to incorporate this library.

[2017-05-09 07:22] Mecharyry opened #111 "Remove VisibleForTesting from ConnectivityReceiver"
#### Problem
`ConnectivityReceiver` exposes `protected` methods to allow the class to be testable. Some methods are only partially testable because they are backed by android.

#### Potential Solution
Have the `ConnectivityReceiver` delegate work to a fully testable collaborator.

#### Impact
- Remove the `@VisibleForTesting` annotation on `ConnectivityReceiver`.
- Create an immutable, fully teste

[2017-05-09 09:22] Mecharyry opened #112 "Remove VisibleForTesting from MerlinService"
#### Problem
`MerlinService` exposes `protected` methods to allow the class to be testable. Some methods are only partially testable because they are backed by android.

#### Potential Solution
Have the `MerlinService` delegate work to a fully testable collaborator.

#### Impact
- Remove the `@VisibleForTesting` annotation on `MerlinService`.
- Create an immutable, fully tested collaborator.

[2017-05-09 09:23] Mecharyry commented on #91
This is scheduled for release as part of v1.0.0

[2017-05-09 09:23] #91 closed

[2017-05-09 09:24] Mecharyry commented on #102
This has been addressed and is scheduled for release as part of v1.0.0.

[2017-05-09 09:24] #102 closed

[2017-05-11 08:12] Mecharyry opened #113 "Replace MerlinLog"
#### Problem
`MerlinLog` is tightly coupled to the android framework with no easy way to switch out implementations of logging as and when required.

#### Potential Solution
Replace `MerlinLog` with a simple `Logger` to which the client can specify the type of logging they want to be performed.

#### Impact
- Not coupled to the android framework.
- Multiple logging handles can be attached.

[2017-05-11 08:13] Mecharyry commented on #105
This has been addressed in #104 and will be released as part of v1.0.0.

[2017-05-11 08:13] #105 closed

[2017-05-11 15:13] Mecharyry commented on #101
This has been addressed and will be part of v1.0.0 release.

[2017-05-11 15:13] #101 closed

[2017-05-11 20:05] tasomaniac commented on #106
Fixed by #115

[2017-05-11 20:05] #106 closed

[2017-05-17 09:51] Mecharyry commented on #113
Addressed and will be released in v1.0.0.

[2017-05-17 09:51] #113 closed

[2017-05-18 08:19] Mecharyry opened #118 "String to Endpoint"
#### Problem
A String representing an `Endpoint` is passed all the way down through `Merlin`. The type `String` makes it difficult to see all usages of what is meant to be an `Endpoint` and does not enforce type safety. In future, if we wanted to add any validation around this `String` we would need to extract an additional class or swap this out.

#### Potential Solution
Replace the `String` repr

[2017-05-18 08:48] Mecharyry opened #119 "Custom Endpoint ignored"
#### Problem
When adding a custom endpoint for `Merlin` to ping it is ignored. The custom endpoint seems to be ignored because the `ping` is performed immediately when the service is created, not after the `onBind`. Here are the logs demonstrating this:

[code]

#### Potential Solution
Change the call order to ensure that the ping is performed after the `MerlinService` is bound.

#### Impact
Clien

[2017-05-18 11:06] niltsiar commented on #119
This was an old issue which is already solved. The problem is a misleading message from `HostPinger`

When `MerlinService` is created a local `HostPinger` variable is created with default values. When `onServiceConnected` from `MerlinServiceBinder` is called it takes care of setting the hostname to the `MerlinService` instance if it has been given to `MerlinBuilder`. This `setHostname` takes care

[2017-05-18 11:16] niltsiar commented on #119
My bad. I've been testing it a bit more and I wasn't entirely right. The first `ping` is done as you said with the default endpoint while the following `pings` use the `HostPinger` with the custom endpoint.

[2017-05-23 10:12] Mecharyry commented on #111
This issue has been addressed and will be released as part of v1.0.0.

[2017-05-23 10:12] #111 closed

[2017-05-23 14:45] Mecharyry commented on #118
This has been addressed and will be released as part of v1.0.0.

[2017-05-23 14:45] #118 closed

[2017-05-31 12:17] Mecharyry commented on #112
This has been addressed as part of #121 and will be released as part of v1.0.0.

[2017-05-31 12:17] #112 closed

[2017-05-31 12:27] Mecharyry commented on #107
This issue has been addressed and is available live now.

[2017-05-31 12:27] #107 closed

[2017-06-11 21:21] waqar2034 opened #124 "Continuously updating required"
I want to use this library as service like if user off/on  WiFi or mobile data it notify me how can i do this?

 @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        setContentView(R.layout.activity_main);
        merlinsBeard = MerlinsBeard.from(this);

        if (merlinsBeard.isConnectedToWifi()) {
            // Connected, do so

[2017-06-11 21:53] waqar2034 commented on #124
Resolved

[2017-06-12 08:08] #124 closed

[2017-06-13 14:08] Mecharyry opened #125 "No notifications on Rx GC"
#### Problem
`MerlinAction` registers `Connectable`, `Disconnectable` and `Bindable`s through anonymous classes. Under the hood these `Registerable` are stored in a `List<WeakRegisterableReference>` so when the method terminates these `Registerable`s are no longer strongly referenced making them eligible for `GarbageCollection`. Practically, this means that clients of the apps will not be able to

[2017-06-19 10:04] Mecharyry opened #127 "Add dispose method"
#### Problem
We are currently leaking `Merlin` and any associated callbacks because we do not safely remove references to context when destroying an activity.

#### Potential Solution
Investigate the demo application for memory leaks and attempt to fix them. This may or may not involve adding a `dispose` method to `Merlin` to ensure that all references are destroyed.

#### Impact
We no longer leak

[2017-06-19 13:06] Mecharyry commented on #125
Addressed in v1.0.1.

[2017-06-19 13:06] #125 closed

[2017-06-26 08:35] Mecharyry commented on #127
Addressed and released as part of v1.1.0.

[2017-06-26 08:35] #127 closed

[2017-06-26 08:40] Mecharyry opened #133 "Update Wiki"
#### Problem
We've updated the UI to use `Snackbar` instead of `Crouton` but the [Wiki](https://github.com/novoda/merlin/wiki) still contains screen captures from `Crouton`.

#### Potential Solution
Update the wiki to show the new `UI` of `Merlin` using a `Snackbar`.

#### Impact
Consistent wiki to match the demo application.

[2017-06-26 08:56] takecare commented on #133
i'd suggest a gif 😄  don't mind doing it if you haven't tackled it already

[2017-06-26 09:15] Mecharyry commented on #133
You are more than welcome to do it @takecare 😄

[2017-06-29 12:50] takecare commented on #133
@Mecharyry you did it in the end 😄

[2017-06-29 13:21] Mecharyry commented on #133
Well, I need to update some of the other ones. https://github.com/novoda/merlin/wiki/Demo-App-Usecases for example. You can do those if you want 😆

[2017-06-30 12:49] Mecharyry commented on #133
Sorry @takecare, I've taken care of the Wiki now 😆

[2017-06-30 12:49] #133 closed

[2017-06-30 13:30] takecare commented on #133
😆 no worries

[2017-07-12 10:16] Mecharyry opened #139 "MerlinsBeard NetworkInfo Crash"
#### Problem
There is a check against a `NetworkInfo` that can be null. See:
https://github.com/novoda/merlin/blob/340edb002d496cbd95f3182a443490ce9fc0760d/core/src/main/java/com/novoda/merlin/MerlinsBeard.java#L94

#### Potential Solution
Add null check to the above to avoid `NullPointerException`.

#### Impact
Leads to crashes in client applications.

[2017-07-13 12:13] mohammadreza2012 opened #141 "registering a Disconnectable"
###Problem
I register connectable and disconnectable after create and build Merlin in my BaseFragment but I got faced with this exception.
[code]

[2017-07-13 12:32] mohammadreza2012 commented on #141
Oh, my ...
I just forgot to add this ``` .withDisconnectableCallbacks() ``` method when i built Merlin builder.

[2017-07-13 12:32] #141 closed

[2017-07-13 13:47] Mecharyry commented on #139
Addressed and released in v1.1.2.

[2017-07-13 13:47] #139 closed

[2017-07-21 09:16] Mecharyry opened #142 "Collapse Merlin packaging"
#### Problem
We have some `public` classes that are accessible to clients but we would never expect them to use.

#### Potential Solution
Collapse the `Merlin` package structure so that we can make only those classes we expect clients to use to be public and all others can be hidden.

#### Impact
Hides unsupported classes from clients.

[2017-08-09 08:49] AngeloAvv opened #144 "registerDisconnectable callback not called"
Hello, using the following code, the callback in registerDisconnectable is never triggered:

[code]

At the very low level, the library seems to receive the network status change, the log reports:
[code]

[2017-08-10 10:54] medsafwentrabelsi opened #145 "onMerlinBind(com.novoda.merlin.NetworkStatus)' on a null object reference"
#### Problem
[code]

[2017-08-10 11:39] Mecharyry commented on #145
Hi @medsafwentrabelsi, we are going to need some more information from you in order to be able to help.

Can you tell us:
- The full stacktrace, where are you receiving this null pointer? I assume from the `ConnectivityChangesForwarder`?
- Where are you instantiating your instance of `merlin`, is it `onCreate`? You haven't stated in the problem section.

[2017-08-10 11:42] Mecharyry commented on #144
Hi @AngeloAvv I will try and reproduce this issue on my end today and will let you know if I need more details. Thanks for raising this.

[2017-08-10 11:47] medsafwentrabelsi commented on #145
Yes I instantiate it in oncreate() and i just add  "merlin.bind();" in onResume()
But still I have the same problem

[2017-08-10 12:07] Mecharyry commented on #145
ok @medsafwentrabelsi I'll try and reproduce the issue and let you know if I need any more info. Thanks for raising.

[2017-08-10 12:40] Mecharyry opened #146 "Missing `withBindableCallbacks` crashes"
#### Problem
If a client creates an instance of `Merlin` without specifying `withBindableCallbacks` when creating `Merlin` a crash occurs when performing a `Merlin.bind`. This occurs because we do not check for a `null` instance when forwarding `onBind` events. See [here](https://github.com/novoda/merlin/blob/master/core/src/main/java/com/novoda/merlin/service/ConnectivityChangesForwarder.java#L31

[2017-08-10 12:42] Mecharyry commented on #145
Hi @medsafwentrabelsi this occurs because you need to register for `bindable` callbacks. You should be able to resolve the issue you are seeing by adding `withBindableCallbacks` onto the `MerlinBuilder` in `onCreate`.

Ideally, we avoid crashing in the event that a client has not added the `withBindableCallbacks`. `Merlin` should only respond to events that clients are interested in. Thanks for ra

[2017-08-10 12:46] Mecharyry commented on #144
Hi @AngeloAvv, I haven't been able to reproduce this issue so far, would you be able to provide me with some more information, please.

- What version of Android are you targeting
- Where are you creating the `Merlin` instance
- Where are you calling `Merlin.bind`

[2017-08-10 13:14] medsafwentrabelsi commented on #145
@Mecharyry OK thank you very much just another thing it missing verification if the network does not have an internet access

[2017-08-10 13:20] Mecharyry commented on #145
@medsafwentrabelsi if you have any other problems can you please open another issue with a detailed description so that I can better assist you 😃

[2017-08-10 13:21] Mecharyry commented on #145
There is a suitable workaround for this issue, closing.

[2017-08-10 13:21] #145 closed

[2017-08-10 13:29] medsafwentrabelsi opened #147 "Shared device connection"
## Problem
Scenario: The library is used in an app on Device A . Device A is using the shared connection from Device B, but Device B does not have an internet connection.

Expected: `Merlin` on `Device A` should detect that it does not have an internet connection.
Actual: `Merlin` detects an internet connection.

## Solution
This scenario has not tested in any great detail in the demo by any maint

[2017-08-10 13:38] Mecharyry commented on #147
Sorry, @medsafwentrabelsi I don't follow.

The library is used in an app on `Device A` . `Device A` is using the shared connection from `Device B`, but `Device B` does not have an internet connection. Is that what you are saying?

[2017-08-10 13:40] medsafwentrabelsi commented on #147
yes exactly

[2017-08-10 13:44] Mecharyry commented on #147
@medsafwentrabelsi I've updated the issue description, can you verify that this is correct?

[2017-08-10 14:53] Mecharyry commented on #146
This issue has been resolved and was released in version 1.1.4.

[2017-08-10 14:53] #146 closed

[2017-08-10 15:56] AngeloAvv commented on #144
Hi @Mecharyry, I realized I was using an old version of the library in Android M. Migrating to version 1.0.0 and changing my source code the problem has been solved. Thank you anyway for your help

[2017-08-10 15:56] #144 closed

[2017-08-15 08:44] Mecharyry commented on #147
@medsafwentrabelsi if you do not reply I will assume you are happy with my assumption and add this ticket to the backlog.

[2017-09-08 19:16] FranciscoJavierPRamos opened #149 "Please solve this NullPointerException"
[code]

[2017-09-11 08:29] Mecharyry commented on #149
Hi @FranciscoJavierPRamos we are sorry that you are experiencing a crash. Can you please update this ticket with the following please, so that we can have this problem resolved as quickly as possible 😄

- Version of Merlin
- Steps to reproduce
- Can you provide the code you used to create the `Merlin` instance?

[2017-09-11 12:21] Mecharyry commented on #149
I have yet to reproduce this issue but I can see how it might occur. It seems that

`connectivityManager.unregisterNetworkCallback(connectivityCallbacks);` is being unregistered on a `HandlerThread` as the above stacktrack shows. As this occurs on a handler thread we might receive a `ConnectivityChange` event before this has successfully unregistered. This event will be emitted through `Connectivi

[2017-09-12 07:49] Mecharyry commented on #149
I have discovered a way to reproduce this issue, it is a bit of a hack but works regardless and allows us to resolve the issue.

Steps:
- Add breakpoints to `ConnectivityCallbacks.notifyMerlinService`.
- Enter airplane mode in app
- Breakpoint is hit, DO NOT CONTINUE DEBUGGER
- Press back button in app to navigate to Merlin landing screen
- CONTINUE DEBUGGER
- Observe crash

[2017-09-12 15:31] FranciscoJavierPRamos commented on #149
Hi, thank you for you response. The steps are:

**Merlin version:** 1.1.4
**Android version:** 6.0.1

**STEPS**

**1. Init Merlin**
`merlin = new Merlin.Builder()
                .withConnectableCallbacks()
                .withDisconnectableCallbacks()
                .withBindableCallbacks()
                .withAllCallbacks()
                .build(getActivity());`

**2. Register Bindable Callb

[2017-09-13 09:27] Mecharyry commented on #149
Hi @FranciscoJavierPRamos, thanks for that additional information. I haven't been able to reproduce unfortunately. If you wouldn't mind, would you be able to pull this branch https://github.com/novoda/merlin/tree/MER-149/forwarder_null_pointer and run through a maven local release to see if this resolves your issue?

### Maven Local Release
Change the **version** in the build.gradle file, I've mad

[2017-09-19 07:57] Mecharyry commented on #149
@FranciscoJavierPRamos Have you had any luck reproducing with the above fix?

[2017-09-28 17:09] FranciscoJavierPRamos commented on #149
Hi, sorry for my late response, I have new issue, all happened when application is closing, please help me to reproduce this.

![captura de pantalla 2017-09-28 a la s 12 04 47](https://user-images.githubusercontent.com/7097754/30980165-a4b87b54-a445-11e7-8a0c-54d7988fdb3a.png)

[2017-09-29 11:28] Mecharyry commented on #149
@FranciscoJavierPRamos Which version did this occur with? Did this happen when you used the above local release? Does this happen on the same version of android mentioned above?

[2017-09-29 13:09] Mecharyry commented on #149
Hi @FranciscoJavierPRamos, can you try pulling our master branch and trying the above local release, I have just made some changes that should resolve this issue for you.

It's really important that you let me know if everything is ok so that I can make a release for all of the other people that rely on this library, thanks!

[2017-10-05 11:57] Mecharyry commented on #149
Hi again @FranciscoJavierPRamos, have you had any luck with this new build?

[2017-10-10 10:45] Mecharyry commented on #149
We are assuming that this issue has been resolved as of `merlin v1.1.5`. If any issues still persist, please open a new issue.

[2017-10-10 10:45] #149 closed

[2018-02-01 22:10] DasserBasyouni opened #157 "java.lang.RuntimeException: Unable to pause activity"
#### Problem
I am following the guide of the README.md

when I traced the problem I found it occurs in .withConnectableCallbacks() `.clear()` in `clearRegistrations()` in `Registrar `class is run

` java.lang.RuntimeException: Unable to pause activity.........
Caused by: java.lang.NullPointerException
                                                                                      at com.novo

[2018-02-12 11:16] Mecharyry commented on #157
Hi @DasserBasyouni sorry for the late reply, I've been on holiday. I'll try and reproduce this issue on my end and get a fix out. I'll keep you updated, should be solved by the end of the week.

[2018-02-12 12:02] Mecharyry commented on #157
@DasserBasyouni I've patched the issue, just waiting on reviews and then will try to ship ASAP https://github.com/novoda/merlin/pull/158

[2018-02-12 15:04] Mecharyry commented on #157
Hi @DasserBasyouni https://github.com/novoda/merlin/releases/tag/v.1.1.6 fixes this issue.

[2018-02-12 15:04] #157 closed

[2018-02-24 10:25] Alubba commented on #149
Hi ,I have occurred this issue again. My Merlin version is  1.1.5.
I add merlin for 2 activities to listen the network, is that correct what I did?

when I offline to go to one activity , then go to another activity, then back to the first activity, connect the network, it will be popped out this error seems the merlin has been killed but i have bind again, what can I do?
Michael

[2018-02-24 10:27] Alubba opened #163 "Please solve this NullPointerException it is related to the issue 149"
FATAL EXCEPTION: ConnectivityManager
                                                                     Process: com.taskpath.routes, PID: 13791
                                                                     java.lang.NullPointerException: Attempt to invoke virtual method 'void com.novoda.merlin.service.ConnectivityChangesForwarder.forward(com.novoda.merlin.receiver.ConnectivityChangeEvent

[2018-02-25 01:01] DasserBasyouni commented on #157
thank you so much for your reply and for fixing the problem, I will test it again sooner or later in another project and I will surely report any error if exist to yo, and sorry for my lateness I was not having access to my whole laptop those 2 weeks.

[2018-02-26 01:33] Alubba commented on #163
MerlinService.Java
class LocalBinder
 MerlinService.this.connectivityChangesForwarder.forward(connectivityChangeEvent);

The 'connectivityChangesForwarder' was null.
Michael

[2018-02-26 11:16] Mecharyry commented on #163
@Alubba does this error occur on the latest version? https://github.com/novoda/merlin/releases/tag/v.1.1.6

[2018-02-26 11:19] Mecharyry commented on #149
@Alubba can you open a new issue if you are experiencing an issue. I will try my best to help you but I need you to follow the template to speed up the process, thanks!

https://github.com/novoda/merlin/issues/new

[2018-02-27 07:00] Alubba commented on #163
Yes, dear.
Actually the workflow like:
First I login to my main page (here I use Merlin to listen network as activity A), then I disconnect the network(wifi or 4G) then logout (This activity do not use the Merlin as activity B ), then I log on in offline mode(in activity A), navigate to another activity (this one I use Merlin as activity C), then back to A, now I connect to the network, it will be

[2018-02-27 09:19] Mecharyry commented on #163
@Alubba Thanks for checking that this occurs on the latest version. I'll see if I can replicate the issue on my end and let you know ASAP.

[2018-02-28 03:39] Alubba commented on #163
@Mecharyry
Any update for this crash issue?

Michael

[2018-02-28 07:46] niltsiar commented on #163
@Alubba it would help if you could create a repo which reproduces the error and point to it. I haven't reproduce it yet but could it be that you are not unbinding Merlin when leaving the activities?

[2018-02-28 09:40] Mecharyry commented on #163
@Alubba I've been attempting to reproduce and I am yet to have success. I would do as @niltsiar suggests and attempt to recreate the issue on a standalone repo for us to test against. For your reference I have attempted to recreate what you have described on https://github.com/novoda/merlin/tree/MER-163/null_pointer feel free to clone this and use it to reproduce if it helps.

I have some ideas on

[2018-02-28 10:11] Alubba commented on #163
@Mecharyry @niltsiar
Sorry for the late reply, thx for help.
Michael

[2018-03-20 13:54] Mecharyry commented on #163
@ClarkXP can you provide any details that will help us to reproduce the issue so that we can fix it for you?

[2018-03-20 17:24] ClarkXP commented on #163
@Mecharyry please clone this repo and view the video:
https://github.com/ClarkXP/merlin-report

[2018-03-20 22:10] niltsiar commented on #163
@Mecharyry I've taken a look at the proof of concept that @ClarkXP has provided and this bug seems to be similar to what we discussed some time ago about many instances of `Merlin` being built and bound to `MerlinService` so the previous `ConnectivityChangesRegister`and `ConnectivityChangesForwarder` are overwritten before being unregistered. That is why the NPE happens.

I think I have an idea to

[2018-03-21 09:36] Mecharyry commented on #163
Thanks @ClarkXP for providing a sample. Thanks @niltsiar for providing a solution ❤️ I'm going to try and take a look at this today and have a release out by latest end of play tomorrow 😄

[2018-03-21 17:39] Mecharyry commented on #163
Hi @ClarkXP and @niltsiar I've taken a look at the problem and the potential fix. Whilst this will indeed patch the problem a `null` check is functionally the same from what I have seen but doesn't solve the underlying problem which is to prevent calls to the `ConnectivityChangesNotifier.notify` method.

As for why this method is called after the `unbind` this is probably a threading issue. Where

[2018-03-21 19:13] niltsiar commented on #163
I think this is more than just a threading issue. I've checked again the provided example and I've found the problem is that `merlin.unbind()` is being called on `BaseActivity.onStop()` so it's being executed after the `onStart()` of the next activity which is creating and binding the new `Merlin` instance. In this case, when `merlin.unbind()` is called `MerlinService.onUnbind()` is not called bec

[2018-03-22 09:09] Mecharyry commented on #163
Not at all @niltsiar, thanks for the detailed response. I agree that moving to `onPause` solves the issue but this is a problem because `onPause` represents the app losing focus, not being hidden. This would be a problem if we consider split screen apps, they would still want to receive connectivity notifications regardless.

Personally I would recommend we path with either of the solutions we hav

[2018-03-22 09:18] niltsiar commented on #163
I think patching with the `null` check as a really quick fix could be an option, but keeping in mind that instances of `ConnectivityChangesRegister` can be left registered in the worst case scenario, although the library wouldn't crash.

As you say, we can tackle the underlying problem shortly after that, but at least the library won't be crashing 👍

[2018-03-22 09:24] Mecharyry commented on #163
@niltsiar @ClarkXP I've opened a PR with a patch https://github.com/novoda/merlin/pull/164, I'll perform a release when this is merged. Then we can talk about how to improve `Merlin` so that two instances can exist.

[2018-03-22 11:04] Mecharyry commented on #163
@ClarkXP @Alubba @niltsiar a new release has just been made to patch this problem, you may not seem some status updates if you are using multiple instances of `Merlin`. We will attempt to provide a more comprehensive fix in the future.

[2018-03-22 23:19] PamposDev opened #165 "Manifest Unresolved Class error on Service"
Hi,
I have added in Manifest Merlin's service, but an Unresolved Class error was showed:
![2018-03-23 00_14_46-quoteoftheday - c__users_jank_pamposdevproject_quoteoftheday - app - _app](https://user-images.githubusercontent.com/36505058/37803524-8a33212a-2e2f-11e8-8dba-065554fd47a3.png)

I use this version of Merlin:
![2018-03-23 00_16_03-quoteoftheday - c__users_jank_pamposdevproject_quoteoftheda

[2018-03-22 23:41] ataulm commented on #165
Did you sync your gradle files after adding the dependency?

Have you tried without adding the entry to your manifest? In my understanding, it should not be necessary.

[2018-03-22 23:49] niltsiar commented on #165
As @ataulm says it should not be needed to declare explicitly the service in your own `AndroidManifest.xml`

There is an errata in `README.md` because some modifications have been made for a future release but this info should not be shown yet. The proper block for version `1.1.7` should be:
[code]

[2018-03-23 07:39] PamposDev commented on #165
thanks

[2018-03-23 07:39] #165 closed

[2018-03-23 09:45] Mecharyry commented on #165
I've updated the `Readme` to display the correct `Service` block as @niltsiar mentioned.

[2018-03-23 09:55] Mecharyry opened #166 "Expand the Merlin demo"
#### Problem
Prior to the hack introduced in `v1.1.7` it was possible to receive a `NullPointerException` when using two instances of `Merlin`. In issue #163 we stated that we would provide a more comprehensive fix in the future but the current demo does not use multiple instances of `Merlin` across multiple activities.

#### Potential Solution
Provide a more comprehensive demo for `Merlin` showca

[2018-03-23 09:56] Mecharyry commented on #163
I think the first step for a more comprehensive fix is to expand the demo of `Merlin` more.  I'm thinking of introducing something similar to the demo you linked @ClarkXP to expand the demo and make the crash reproducible so that we can work towards two `Merlin` instances. Here's the starting ticket https://github.com/novoda/merlin/issues/166 which is now in the project backlog to be worked on.

[2018-03-27 15:32] Mecharyry opened #167 "Technical Data Questionnaire Wiki Page"
## Problem
We want to show our reasoning as to why someone would want to use this particular library and the challenges we have faced with each release. To this end, we have created a **Technical Data Questionnaire**. This Questionnaire is cloned from [`novoda/novoda`](https://github.com/novoda/novoda/issues/46).

## Solution
Here's a template, created from the Gradle Build Properties Plugin, that

[2018-03-29 08:20] Mecharyry commented on #167
Taking another route.

[2018-03-29 08:20] #167 closed

[2018-04-11 08:39] yudhisthira123 commented on #57
And if my wifi router lost internet even in that case it should notify internet disconnect.

[2018-05-29 22:00] EBfVince opened #168 "Fatal Exception: java.util.ConcurrentModificationException"
#### Problem

Fatal Exception: java.util.ConcurrentModificationException

There is my Crashlytics trace:

Android version : 5.1
Phone : GI-I9500_TMMARS

com.novoda.merlin.registerable.connection.ConnectCallbackManager.onConnect (Unknown Source)
com.novoda.merlin.service.ConnectivityChangesForwarder$1.onSuccess (Unknown Source)
com.novoda.merlin.service.PingTask.doInBackground (Unknown Source)
com.

[2018-05-30 10:36] niltsiar commented on #168
Just from that trace I think the problem may be that you are registering some `Connectable` while some network change is being notified to the ones previously registered. Could you provide some example to look further?

[2018-06-07 08:05] EBfVince commented on #168
My Activity using Merlin :

[code]

In my activity class :
[code]

This error is not critical, I just had one crash few days ago on one of my users.
I will give you more informations in the future if this error raise again.

[2018-06-07 09:16] Mecharyry commented on #168
Given that it comes from a `PingTask` it seems unlikely that this code is at fault. As you said @EBfVince you have just copied the demo. It seems that this **could** happen should a ping task callback when attempting to clear the registrations when `unbinding` merlin.

[2018-06-07 12:08] niltsiar commented on #168
Yes, it seems that the underlying connectable collection could be modified while notifying those `Connectable` and it causes the mentioned `Exception`. I've tried to create a test for such condition and a possible fix for that.

[2018-06-30 00:44] tianxu0836 opened #169 "The onConnected event fires when first run it"
The problem is I only want to know if internet changed or not, but I don't want this event to fire onCreate

[2018-07-02 08:16] Mecharyry commented on #169
Hi @tianxu0836 sorry to hear you are having trouble. Unfortunately `Merlin` always emits the initial network status, we can add an option to the builder to disable this but I'm unsure of a timeframe for this. You would need to handle this manually yourself for now by ignoring the initial state.

[2018-07-02 20:33] tianxu0836 commented on #169
How do I ignore the initial state?

On Mon, Jul 2, 2018 at 1:16 AM Ryan Feline <notifications@github.com> wrote:

[2018-07-02 20:49] ataulm commented on #169
You can create an implementation of Connectable that wraps another Connectable (takes it as a constructor param).

In this implementation, you can maintain a Boolean flag.

When the first event comes through, set the Boolean to true.

Whenever events come through, only delegate to the passed connectable if the Boolean is true.

[2018-07-17 20:55] #169 closed

[2018-10-02 10:14] ouchadam opened #171 "IllegalStateException - You must call canNotify() before calling notify(ConnectivityChangeEvent)"
#### Problem

Have seen a single crash in `crashlytics` with

[code]

This _should_ be impossible since the [call to `notify`](https://github.com/novoda/merlin/blob/master/core/src/main/java/com/novoda/merlin/ConnectivityCallbacks.java#L35) is guarded with a `canNotify` however, it appears this was running on a background `HandlerThread` meaning it's possible the service became unbound during act

[2018-10-12 01:06] ericpearson commented on #171
I have seen this bug a lot in our app as well. Would be nice to see a fix.

[2018-10-12 01:06] ericpearson commented on #171
I have seen this bug a lot in our app as well. Would be nice to see a fix.

[2018-10-14 12:44] dev-hussein opened #172 "Android 9.0 Testing"
#### Problem

_When test your repo it's not working on android 9.0 always return false._

#### Potential Solution

_I think you have to check https://developer.android.com/about/versions/pie/android-9.0-changes-all#restricted_access_to_wi-fi_location_and_connection_information_

[2018-10-15 08:16] MechaRyRy commented on #172
Hi @TuiyTuyHussein at the moment the library does not support android 9.0, we hope to be able to perform some updates on the library soon!

[2018-10-15 21:34] niltsiar commented on #172
I've been looking into this error. The problem comes from these changes
[Framework Security Changes in API 28](https://developer.android.com/about/versions/pie/android-9.0-changes-28#framework-security-changes) Basically, for API 28+ no connection to clear text domains are permitted by default. `Merlin` is using `http://connectivitycheck.android.com/generate_204` to test connectivity, so when the

[2018-10-19 12:47] ouchadam commented on #172
I'm down for updating the default endpoint to use the `https` version, there's a slight performance hit but it should be negligible.

This might actually fix an issue with false positives from some wifi hotspots which force redirects on `http` to their hotspot login page

[2018-10-23 11:21] mr-archano opened #174 "Remove releases folder from repo"
#### Problem

At the moment there's a `releases/` folder that was used in the past before the use or artifact repos like MavenCentral and JCenter was popular. It shouldn't be needed anymore

#### Potential Solution

Remove the folder and the artifacts in it as it's quite old releases. We could think of manually upload them to Bintray if we **really** want to avoid to remove them form the repo

###

[2018-10-23 14:59] #171 closed, assigned to nobody

[2018-10-25 10:36] MechaRyRy opened #176 "Integration tests"
#### Problem
We have unit tests for all our classes, which is great 😄 but it would be good to have some integration tests to make sure complete flows work as we want.

#### Potential Solution
We need to identify system boundaries and provide alternative implementations e.g. `HttpRequestMaker` could return exactly the status I want and we can ensure that the rest of the flow works as expected.

###

[2018-10-26 12:05] loki666 opened #178 "not getting Wifi connected callback"
#### Problem

I don't get a callback when the Wifi is back online.
If I'm mobile and enable the Wifi network, I was expecting to have an onConnect() call, but I don't

[code]

[2018-10-30 22:46] ouchadam commented on #172
looks like #177 has been merged, the next release should contain this fix!

[2018-10-30 22:46] #172 closed, assigned to nobody

[2018-11-02 16:29] niltsiar commented on #142
This has already been released in #175

[2018-11-02 16:29] #142 closed

[2018-11-05 10:28] niltsiar commented on #174
Done in #182

[2018-11-05 10:28] #174 closed, assigned to nobody

[2018-11-05 10:28] niltsiar commented on #168
This should be already fixed in #183

[2018-11-05 10:28] #168 closed

[2018-11-26 07:16] aadilmehrajbhat opened #186 "java.lang.NoClassDefFoundError: on API 28 App crashes"
#### App crashes on API 28

Possible cause can be behaviour changes: [Apache HTTP client deprecation](https://developer.android.com/about/versions/pie/android-9.0-changes-28#apache-p)
#### Tried to fix it as per official doc by adding

`<uses-library android:name="org.apache.http.legacy" android:required="false"/>`

#### Impact

App stopped crashing but Callbacks aren't working properly.

[2018-11-26 09:55] MechaRyRy commented on #186
Hi @AadilMehrajBhat, Which callbacks are not working as expected?

[2018-11-26 10:00] aadilmehrajbhat commented on #186
@Mecharyry Connectable and Disconnectable,  its with version 1, I migrated to Version 2 and it worked fine.

[2018-11-26 10:14] MechaRyRy commented on #186
Sorry I meant to ask which specific version does this occur, you are seeing this on `1.2.1` or everything is fine?

[2018-11-26 10:40] aadilmehrajbhat commented on #186
I got this error on 1.1.7, I migrated to 1.2.1 and everything worked fine

[2018-11-26 10:48] MechaRyRy commented on #186
ok. Then I shall close this issue.

[2018-11-26 10:48] #186 closed, assigned to nobody

[2019-01-30 09:14] #178 closed, assigned to nobody

[2019-02-15 08:08] SumukhaK opened #191 "Not working in One plus 5t"
Hey, I'm using your service to detect internet disconnection and showing an alert message on android. It is working fine in my Moto g4+, Poco f1, emulator(which is pixel 2xl). But in One Plus 5t (Android version 8.1.0, Oxygen OS 5.1.7) it doesn't seem to work. Simply no alert when it is disconnected from the network. No crashes.

My code snippets:

[code]

[2019-02-15 08:50] MechaRyRy commented on #191
Hi @SumukhaK. When you say "internet disconnection" do you mean disconnected from Wifi but still connected to cellular or disconnected from both? I just want to make sure I have the full picture before I formulate a plan to check and respond. Thanks.

[2019-02-15 09:41] SumukhaK commented on #191
In the case of one plus 5t, I only tested with cellular data. Moto g4+ and Poco work fine with both WiFi and Cellular data disconnection.

[2019-02-15 11:47] MechaRyRy commented on #191
Thanks for the clarification @SumukhaK, I'll try and take a look into this issue for you.

[2019-02-19 05:34] SumukhaK commented on #191
Sorry to bother you, do you have any updates ?!

[2019-02-19 08:44] MechaRyRy commented on #191
I'm sorry but I have not had the opportunity to work on this as of yet. I can help you to open a Pull Request with a fix if you are able to locate the issue.

[2019-02-19 09:15] niltsiar commented on #191
Could you @SumukhaK provide a small repo with the exact code to reproduce this? I've tried some quick tests but I was unable to get this behaviour.

[2019-03-01 14:19] florianmski opened #192 "Mobile connection type enhancements"
#### Problem

Merlin currently exposes a `getMobileNetworkSubtypeName()` method that delegate to the framework `NetworkInfo.getSubtypeName()` method. This is returning a string representation of the mobile connection subtype (`UMTS`, `LTE`...). The problem is that I couldn't find anywhere in the framework code where this mapping occurs which means that I cannot use this method to do something acti

[2019-06-06 11:30] mario opened #193 "Only disconnect is fired when switching from say wifi to mobile connection"
#### Problem

a) Have both wifi and mobile connected
b) Kill wifi
c) Get notified of disconnect

Merlin claims there's no network :-/

[2019-06-06 12:39] MechaRyRy commented on #193
Which version of `merlin`?
What android versions has this been reproduced on?
Is it reproducible on the demo of `merlin`?

[2019-06-06 12:40] mario commented on #193
I haven't tried demo to be honest. It's Android 9, Huawei P20 Pro, Merlin 1.2.0.

[2019-06-06 12:42] MechaRyRy commented on #193
Would you be able to verify using the demo?

[2019-06-06 12:44] mario commented on #193
I'll take a look later today, yes :)

[2019-06-06 14:36] mario commented on #193
So I just checked and it works as-expected (disconnect isn't even fired on connection change).

What's strange is there's not much difference between demo and what I do. The only thing I imagine it could be is that I use application context. Could this be the issue?

[2019-06-06 15:35] MechaRyRy commented on #193
If you have an issue that you would like patched we would recommend trying to reproduce the problem with the `demo` and then supplying said demo so that we can reproduce on our end and patch the problem. It's very hard for us to fix it otherwise unfortunately.

[2019-06-11 17:19] lasayoub opened #194 "Crash"
here is the crash log

java.lang.IllegalArgumentException: Too many NetworkRequests filed
	at android.os.Parcel.readException(Parcel.java:1688)
	at android.os.Parcel.readException(Parcel.java:1637)
	at android.net.IConnectivityManager$Stub$Proxy.listenForNetwork(IConnectivityManager.java:2425)
	at android.net.ConnectivityManager.sendRequestForNetwork(ConnectivityManager.java:2871)
	at android.net.

[2019-06-11 17:31] MechaRyRy commented on #194
@lasayoub can you please follow the issue template. Can you also let us know reproduction steps, android version, device this is reproducible on. If you can reproduce this on the demo it would also be very beneficial.

[2019-06-17 08:25] MechaRyRy commented on #194
Closing due to lack of information.

[2019-07-08 19:22] javierpe commented on #194
This happen in my app and reported by Crashlytics many times...

<img width="1360" alt="Captura de Pantalla 2019-07-08 a la(s) 14 21 06" src="https://user-images.githubusercontent.com/7097754/60836671-cb9b7600-a18b-11e9-9691-08076259aad3.png">

[2019-07-09 07:33] MechaRyRy commented on #194
@javierpe We need reproduction steps in order to be able to help. We would, as a minimum, need to know how you create merlin and when you do the binding etc.

[2019-07-12 13:18] MechaRyRy commented on #194
Closing due to lack of information.

[2019-08-27 07:38] ghiyatshanif commented on #194
Hi, I'm also getting this identical crash reports in fabric for my app, this is how I implement merlin in my BaseActivity :
[code]
and I also have instance of MerlinsBeard in my BaseActivity to check `hasInternetAccess()`

[2019-08-27 07:42] zegnus commented on #194
@ghiyatshanif @javierpe can you please provide steps to reproduce this issue? without this, we cannot check that any fix that we do actually fixes your problem. You can provide detailed steps or you can also create a sample application that crashes and share it with us, for example with a Github repo.

[2019-08-27 07:53] ghiyatshanif commented on #194
That's the case, to this date, we could't reproduce this issue on our devices, it only affect small numbers of our users tho. I'll let you guys know if I finally could reproduce the issue

[2019-08-27 07:59] MechaRyRy commented on #194
@ghiyatshanif Where is merlin created in your app? Is it single instance?

[2019-08-27 09:01] ghiyatshanif commented on #194
@Mecharyry it's created in the BaseActivity and it's not single instance, it creates new instance for each activity

[2019-08-27 09:38] MechaRyRy commented on #194
Thanks @ghiyatshanif, we've had a couple of issues related to using multiple instances of `Merlin`, I thought we had updated the docs to recommend using single instance but apparently not -> https://github.com/novoda/merlin/issues/163#issuecomment-375226654

[2019-08-27 10:36] ghiyatshanif commented on #194
I see, we'll try to update our code, and see if the report persist, we'll get back to you with the update.

[2019-09-19 03:30] ghiyatshanif commented on #194
Hi guys, it's a positive update, it's been 3 weeks since I reported this issue, and so far, we're not getting any more reports regarding this. we changed our way of implementing Merlin, so instead of creating new instance in each activity we only use a Singleton provided by our dependency injection library.

[code]

[2019-09-19 11:08] zegnus commented on #194
nice! glad that it works,  thanks for posting the update

[2019-09-19 11:08] #194 closed, assigned to nobody

[2020-02-06 19:50] ismailnurudeen commented on #178
How did you resolve this issue. when my Device is connected to a Wifi Hotspot it always triggers  `merlin.registerDisconnectable` even though there's internet connection.

[2020-02-21 01:23] tianxu0836 opened #196 "registerConnectable is not able to work after flight mode for a while"
I noticed that the registerConnectable  will not fire if you flight mode for 30s

[2020-05-28 07:38] jakoss opened #197 "Custom RequestMaker"
#### Problem

I would like to create my custom `RequestMaker`. The health endpoint that i need to use requires authorization and HMAC header. I cannot add those using Merlin's build-in `HttpRequestMaker`

#### Potential Solution

I could create PR with `RequestMaker` injection feature. Custom `RequestMaker` could be injected using `MerlinBuilder`.

Are you open for PRs? I see that library is quite

[2020-05-29 22:13] blundell commented on #197
I'd say yes, if a PR was pushed that gave a clear and obvious change that didn't have any breaking changes for backward compatibility it'd be accepted :-) (and if anyone with release rights wants to correct me, please do! I just assume not that many ppl will reply here)

[2020-06-08 07:09] jakoss commented on #197
I think i can do that :) Should i merge to develop or release branch?

[2020-07-13 12:00] neteinstein opened #199 "NPE on ConnectivityCallbacks.notifyMerlinService"
#### Problem

Version 1.2.1

[code]

#### Potential Solution

We might need to add some validations for nulls.

#### Impact

This appeared on crashes at Firebase Crashlytics  when using an app with this integrated.

[2020-07-15 07:45] blundell commented on #199
Perhaps its a proguard rule that needs adding rather than a null check?

[2020-08-22 05:34] dimaslanjaka opened #201 "How to get internet speed ?"
I want show internet upload and download speed while listening network using this library.
so, i can showing speed meter into textview.
please help, how to code it

[2021-05-21 10:08] niltsiar opened #202 "Migrate from JCenter"
#### Problem

JCenter is already a read only repository and as it's stated [JCenter service update](https://developer.android.com/studio/build/jcenter-migration) packages should be migrated from JCenter. Are you planning on moving `Merlin` to Maven Central or any other package repository?

[2022-02-11 02:48] juankysoriano commented on #202
We don't have plans to actively maintain this library. I am closing this issue as the repository is about to be archived

[2022-02-11 02:48] #202 closed, assigned to nobody

[2022-02-11 02:48] #29 closed

[2022-02-11 02:48] #55 closed

[2022-02-11 02:48] #57 closed

[2022-02-11 02:48] #147 closed

[2022-02-11 02:48] #163 closed

[2022-02-11 02:48] #166 closed

[2022-02-11 02:48] #176 closed, assigned to nobody

[2022-02-11 02:48] #191 closed, assigned to nobody

[2022-02-11 02:48] #192 closed, assigned to nobody

[2022-02-11 02:48] #193 closed, assigned to nobody

[2022-02-11 02:48] #196 closed, assigned to nobody

[2022-02-11 02:48] #197 closed, assigned to nobody

[2022-02-11 02:48] #199 closed, assigned to nobody

[2022-02-11 02:48] #201 closed, assigned to nobody